.git
.github

.venv
venv

__pycache__
*.py[cod]
.pytest_cache

tests
requirements-dev.txt
pytest.ini

.env
.env.*

secrets
data
random_reminder.db
*.db

.vscode
.idea

Dockerfile*
compose*.yaml
compose*.yml

backups